* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-menu ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header-menu a {
  color: #000;
}